<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Todo List</title>
  </head>
  <body>
    <link rel="stylesheet" href="styles.css">



    <div class="box" id="heading">
      <h1>V & T Costco list: <%= kindOfday %></h1>

    </div>

    <div class="box">

      <% for (var i = 0; i < newlistitem.length; i++){ %>
        <div class="item">
          <input type="checkbox">
          <p> <%= newlistitem[i] %></p>
        </div>

      <% } %>


    <form class="item" action="/" method="post">
      <input type="text" name="newitem" placeholder="New Item">
      <button type="submit" name="button">+</button>
    </form>
    </div>
  </body>
</html>
